@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f4f4f4;
}

@layer components {
  .shadow-custom {
    box-shadow: 1px 1px 30px -9px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 1px 30px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 30px -9px rgba(0, 0, 0, 0.75);
  }
}

@layer components {
  .link {
    @apply hover:opacity-40 duration-300 ease-in-out;
  }
  .transition {
    @apply duration-300 ease-in-out;
  }
  .h1 {
    @apply text-2xl sm:text-3xl md:text-4xl font-semibold leading-6;
  }
  .p {
    @apply text-xs md:text-sm leading-4 text-gray-500;
  }
  .p2 {
    @apply text-sm lg:text-base leading-4 text-gray-500;
  }
}
